@page "/blazor-markdown"
@using VanillaBlazorMarkdownTest.Shared.Components


<h3>BlazorMarkdown</h3>

<MarkdownTest Title="Testing Blazor Markdown with Mudblazor" ClassFileName="BlazorMarkdownTest.md" FileName="BlazorMarkdownTest.md" />

@code {

}
